<div class="row">
    <div class="col-sm-2 comment-data">
        <label>Somebody</label>
        <label>11.09.2001</label>
    </div>

    <div class="col-sm-9">
        <p class="comment">
            ewwwwwwwwwwwwwwwwwwwwwwwwwwwwwwfewfewf
            ewwwwwwwwwwwwwwwwwwwwwwwwwwwwwwfewfewf
            ewwwwwwwwwwwwwwwwwwwwwwwwwwwwwwfewfewf
            ewwwwwwwwwwwwwwwwwwwwwwwwwwwwwwfewfewf
        </p>
    </div>
</div>