<!-- Required meta tags always come first -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/templates/bower_components/bootstrap/dist/css/bootstrap.min.css">

<!-- Custom CSS -->
<link rel="stylesheet" href="/templates/styles/styles.css">