/*
STYLES.CSS

Course:  Bootstrap 4 Quick Start
Author:  Brad Hussey
Website: bradhussey.ca
*/

h1 {
    text-align: center;
    color: white;
    padding-left: 10px;
}

html,
body {
    background-image: url(../img/books.jpg);
    background-attachment: fixed;
    height: 100%;
}

img {
    padding-left: 15px;
    padding-bottom: 15px;
    max-width: 100%;
}

/* cover */

#cover {
    background: #222 url('../img/books.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

#cover-caption {
    width: 100%;
}

.recs {
    background: white;
    font-size: 25px;
}

.form-group {
    padding: 3px;
}

.section-content {
    padding: 5rem 0;
}

.search {
    position: fixed;
    text-align: right;
    padding: 20px;
    right: 0;
    top: 0;
}

.search ul {
    list-style-type: none;
}

.modal
#about {
    background: url('../img/books.jpg') center center no-repeat;
    background-size: cover;
}

.about-text {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 1.875rem;
}

#footer-main {
    background: #222;
    color: white;
    max-height: 20px;
    font-size: 0.8rem;
    padding: 2.5rem 0;
}

#nav {
    background-color: white;
}

.nav-item {
    padding-left: 15px;
}

.zer {
    height: 70px;
}

.nav-l {
    padding-left: 15px;
    color: black;
}

#nav {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    padding: 0;
}

.carousel-caption h3 {
    font-size: 35px;
}

li a {
    color: black;
}

.card {
    background: rgba(0, 0, 0, 0);
    /*    border: rgba(0,0,0,0);*/
    color: white;
}

.card img {
    position: relative;
    left: 20%;
}

.book-author-img {
    position: relative;
    left: 0;
    top: 0;
}

.simple-text {
    color: white;
}

.my-table {
    width: 100%;
    position: absolute;
    left: 15%;
    top: 15%;
    color: white;
}

.text-field {
    padding: 15px;
}

.recen-bad {
    background: red;
    color: white;
    border: 4px solid darkgray;
}

.recen-norm {
    background: orange;
    color: black;
    border: 4px solid darkgray;
}

.recen-good {
    background: green;
    color: white;
    border: 4px solid darkgray;
}

.like {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    position: relative;
    right: 0;
}

#filter {
    background: white;
    color: black;
    font-size: 20px;
}

.back {
    padding: 50px;
    width: 70%;
}

.prev {
    width: 100%;
    text-align: center;
    background: white;
    color: black;
    border: 4px solid darkgray;
    padding: 50px;
}

.comment {
    background: white;
    color: black;
    border: 4px solid darkgray;
    padding: 15px;
}

.comment-data {
    color: white;
}

.ta {
    width: 100%;
    height: 100px;
}

.lab {
    color: white;
}

.biog {
    color: black;
    background: white;
    word-wrap: break-word;
}

.row {
    padding-left: 15px;
}

.row-log {
    padding: 10px;
}