<!DOCTYPE html>
<html lang="en">
<head>
<#include "parts/head.ftl">
    <title>Account</title>
    <style>
        html {
            overflow-x: hidden
        }
    </style>
</head>
<body>
<container>

<#include "parts/header.ftl">

    <p class="zer"></p>


    <h1>ЛИЧНЫЙ КАБИНЕТ</h1>

    <br>


    <br>
    <h1 style="text-align: left">ИЗМЕНЕНИЕ ДАННЫХ</h1>
    <br>

    <div class="row row-log">
        <div class="col-sm-2 lab">
            <label>Изменить пароль</label>
        </div>
        <div class="col-sm-8">
            <input type="text">
        </div>
    </div>

    <div class="row row-log">
        <div class="col-sm-2 lab">
            <label>Изменить логин</label>
        </div>
        <div class="col-sm-8">
            <input type="text">
        </div>
    </div>


    <div class="row row-log">
        <div class="col-sm-2 lab">
            <label>Изменить имя</label>
        </div>
        <div class="col-sm-8">
            <input type="text">
        </div>
    </div>

    <div class="row row-log">
        <div class="col-sm-2 lab">
            <label>Изменить город</label>
        </div>
        <div class="col-sm-8">
            <input type="text">
        </div>
    </div>

    <div class="row row-log">
        <div class="col-sm-2 lab">
            <label>Изменить e-mail</label>
        </div>
        <div class="col-sm-8">
            <input type="text">
        </div>
    </div>


    <br><br>

    <div class="row row-log">
        <div class="col-sm-2 lab">
            <label>ТЕКУЩИЙ ПАРОЛЬ </label>
        </div>
        <div class="col-sm-8">
            <input type="password">
        </div>
    </div>

    <input type="submit" value="изменить" class="btn btn-success btn-lg"
           style="position: relative; left: 45%; bottom: 5px;">


<#include "parts/footer.ftl">

    <script src="/templates/js/jquery.min.js"></script>
    <script src="/templates/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</container>
</body>
</html>












