<!DOCTYPE html>
<html lang="en">
<head>
<#include "parts/head.ftl">
    <style>
        html {
            overflow-x: hidden
        }
    </style>
</head>
<body>

<#include "parts/header.ftl">

<p class="zer"></p>

<div class="row" id="filter">
    <div class="col-sm-4">
        <label>ФИЛЬТР</label>
    </div>
    <div class="col-sm-4">
        <label>Автор</label>
        <input type="checkbox">
    </div>
    <div class="col-sm-4">
        <label>Книга</label>
        <input type="checkbox">
    </div>
</div>


<h1>ПО ВАШЕМУ ЗАПРОСУ НАЙДЕНО:</h1>
<hr color="white">


<section id="what-we-do">
    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                <#include "parts/book_author.ftl">
                </div>
            </div>
        </div>
    </div>
</section>


<hr color="white">
<br><br><br>
<h1>ПОПУЛЯРНЫЕ РЕЦЕНЗИИ</h1>
<hr color="white">

<#include "parts/footer.ftl">

<script src="/templates/js/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>












