<!DOCTYPE html>
<html lang="en">
<head>
<#include "parts/head.ftl">
    <style>
        html {
            overflow-x: hidden
        }
    </style>
</head>
<body>

<#include "parts/header.ftl">

<p class="zer"></p>


<h1>ОБСУЖДЕНИЕ КНИГИ</h1>
<h1>"Как выжить на 5 проектах"</h1>
<hr color="white">


<script type="application/javascript" src="/templates/js/count.js">
</script>

<div class="row">
    <div class="col-sm-2 comment-data">
        <label>Вы</label>
        <label>Сейчас</label>
    </div>

    <div class="col-sm-6">
        <textarea class="ta" id="textA"></textarea>
    </div>
    <div class="col-sm-1">
        <label id="attention" style="color: white"></label>
    </div>

    <div class="col-sm-1">
        <input type="submit" class="btn btn-success btn-lg" value="Опубликовать">

    </div>
</div>

<script type="application/javascript">
    var obj = document.getElementById('textA');
    obj.oninput = countSymbols;
</script>

<#include "parts/comment.ftl">
<#include "parts/comment.ftl">
<#include "parts/comment.ftl">

<#include "parts/footer.ftl">

<script src="/templates/js/jquery.min.js"></script>
<script src="/templates/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>












